In [3]:
#pandas version '2.2.2'
import pandas as pd
#numpy version '1.26.4'
import numpy as np

In [4]:
try:
    #google colab only - put data in a folder "/content/drive/MyDrive/capstone_data/"
    from google.colab import drive
    colab = 1
    print("Running in Google Colab, load data to \"/content/drive/MyDrive/capstone_data/\" to import it.")
    drive.mount('/content/drive')
except:
    colab = 0
    print("Load data to \"/capstone_data/\" to import it.")

Load data to "/capstone_data/" to import it.

In [5]:
if colab == 1:
    df_medin = pd.read_csv("/content/drive/MyDrive/capstone_data/annual.csv")
elif colab == 0:
    df_medin = pd.read_csv("capstone_data/annual.csv")

In [6]:
df_medin

,observation_date,MEHOINUSAKA672N_20210423,MEHOINUSALA672N_20210423,MEHOINUSARA672N_20210423,MEHOINUSAZA672N_20210423,MEHOINUSCAA672N_20210423,MEHOINUSCOA672N_20210423,MEHOINUSCTA672N_20210423,MEHOINUSDEA672N_20210423,MEHOINUSFLA672N_20210423,...,MEHOINUSSDA672N_20210423,MEHOINUSTNA672N_20210423,MEHOINUSTXA672N_20210423,MEHOINUSUTA672N_20210423,MEHOINUSVAA672N_20210423,MEHOINUSVTA672N_20210423,MEHOINUSWAA672N_20210423,MEHOINUSWIA672N_20210423,MEHOINUSWVA672N_20210423,MEHOINUSWYA672N_20210423
0,1984-01-01,76043,40682,36837,50353,59429,60637,70390,60679,46498,...,45615,39441,54111,54188,62339,53063,58795,48750,39584,55972
1,1985-01-01,79031,41656,39652,54253,61306,64035,70642,52215,48495,...,41222,40395,53948,57345,64596,59077,54532,52819,36316,50172
2,1986-01-01,70021,42724,41826,56944,64782,60722,73069,57225,51024,...,44434,40767,53956,58688,66356,54932,60028,59021,36766,52610
3,1987-01-01,71744,42602,40644,57747,65080,57157,70943,63133,52868,...,45661,45722,53368,57272,64756,54867,58977,56926,37147,59562
4,1988-01-01,68972,41563,42030,55079,63105,54619,75452,63559,52935,...,46451,43455,52012,54825,68024,60398,67355,61621,40323,55046
5,1989-01-01,71878,42489,42786,56998,65895,53513,84485,64017,52073,...,48127,45138,51676,61320,68109,62474,63803,58138,43274,58932
6,1990-01-01,74764,44436,43350,55598,63333,58469,73949,58604,50768,...,46746,42981,53703,57344,66726,59163,61092,58427,42115,56047
7,1991-01-01,74551,44692,43019,56424,61797,57822,77382,59816,50026,...,45230,44888,50909,51429,66336,53520,62358,57151,42491,53327
8,1992-01-01,74874,46226,42776,52585,62517,58184,73152,63905,48986,...,47034,43557,50068,61349,68418,58669,60720,59660,36308,54109
9,1993-01-01,75005,43821,40251,53304,59529,60254,69038,63007,49880,...,48459,43856,50189,62522,63652,54274,62293,55498,39172,51438
10,1994-01-01,77639,46542,43751,53554,60464,64746,70332,61392,50133,...,50884,49012,52633,61123,64428,61270,57387,60562,40327,56715
11,1995-01-01,80136,43434,43138,51575,61846,68024,67250,58368,49707,...,49428,48487,53541,60962,60531,56523,59438,68440,41577,52688
12,1996-01-01,85911,49324,44150,51497,63176,66657,68559,63985,49876,...,48061,50119,53833,60289,63826,52671,59700,65112,41096,50384
13,1997-01-01,76469,50889,41684,52165,63245,68884,70082,68565,51711,...,47312,48813,55885,68154,68444,55850,71001,63087,43797,53253
14,1998-01-01,79689,57011,43490,58306,64349,73255,73112,65173,54878,...,51540,53592,56252,69639,68154,61894,74547,64967,41979,55414
15,1999-01-01,79111,55799,45688,56944,67156,74156,77875,71772,55153,...,55148,56216,59550,70882,70333,64008,69994,70293,45095,57334
16,2000-01-01,78675,52737,44211,59226,69696,71816,74693,74980,57846,...,54301,50760,57478,70789,70213,58945,63308,67124,43785,58997
17,2001-01-01,83034,50895,48259,61815,68413,71503,77221,71800,52720,...,57425,51797,59146,68529,72725,59050,61505,65639,42952,57494
18,2002-01-01,75206,53586,46153,56623,67600,68822,76080,70754,54186,...,53971,52770,57215,68205,70727,61276,64388,65414,41838,56665
19,2003-01-01,72230,51912,44592,57361,68695,69587,76589,68304,54304,...,55070,52285,54721,68660,76335,60280,66198,64472,45652,59297
20,2004-01-01,74707,49697,47465,59488,66782,69040,74757,65191,54996,...,55772,51654,56166,69020,69386,64214,67732,62047,45279,61593
21,2005-01-01,73346,48752,48106,59375,67918,66204,74585,67236,56416,...,56627,51713,54358,71931,68127,66539,66463,58594,47827,58684
22,2006-01-01,71713,48241,47103,59306,70316,70796,79322,66654,58059,...,57742,51725,55048,69438,72604,66073,69558,65706,48834,59794
23,2007-01-01,77862,52176,50425,58360,68890,75573,79281,67475,56604,...,57375,50919,56924,66164,73126,58576,71790,63381,52026,60250
24,2008-01-01,76168,52941,47120,55843,67865,72542,76993,60352,53394,...,61421,47258,55338,74439,73782,60357,67409,60945,45225,63488
25,2009-01-01,73585,47755,43644,54634,67051,66807,77463,62249,54505,...,54738,48397,56708,69866,72267,62493,72137,61202,48364,62674
26,2010-01-01,67977,48100,45343,55107,63788,70779,77554,64882,51782,...,53293,45348,55542,66629,70937,65721,65997,59167,50267,61341
27,2011-01-01,65424,48518,47051,55388,60795,66789,74520,62268,51383,...,53796,48164,55874,63217,71331,59080,64763,59304,47642,62096
28,2012-01-01,71003,48487,43527,52480,63609,63871,71671,54631,51395,...,55125,47963,57926,65083,72101,62005,69373,59213,48586,64158
29,2013-01-01,79666,52017,43285,57834,66829,74654,76170,59461,53350,...,58715,47665,56509,67107,72450,72016,70268,56861,47344,74136
30,2014-01-01,73105,45701,48559,53242,65384,65874,75842,62179,49876,...,57348,47255,58237,68515,71511,65623,63850,62782,42754,60199
31,2015-01-01,81054,48030,46184,56381,68670,71864,78655,62325,52687,...,59421,51074,60940,71499,66350,64200,72562,59809,46212,65745
32,2016-01-01,80673,50308,48908,60832,70993,75179,80886,61840,54521,...,61205,54700,61947,71892,70795,64814,74906,63727,47253,61609
33,2017-01-01,81335,53049,51887,62263,73045,78204,77494,67750,55365,...,59358,57681,62672,72785,73851,66416,74612,66208,48973,62092
34,2018-01-01,69979,50841,50683,63411,71766,74357,74131,66190,55634,...,60540,57076,60868,78463,78549,71335,81170,63764,51489,63672
35,2019-01-01,78394,56200,54539,70674,78105,72499,87291,74194,58368,...,64255,56627,67444,84523,81313,74305,82454,67355,53706,65134

In [7]:
# Extract the year from the 'observation_date' column
df_medin['Year'] = pd.to_datetime(df_medin['observation_date']).dt.year

# Melt the DataFrame to long format
# The first column is 'observation_date' and the last is 'Year', so we'll use all columns in between as value variables
cols_to_melt = df_medin.columns[1:-1]
df_melted = df_medin.melt(id_vars=['Year'], value_vars=cols_to_melt, var_name='State_Code', value_name='Income')

# Extract state abbreviation from the State_Code column
df_melted['State'] = df_melted['State_Code'].apply(lambda x: x.split('MEHOINUS')[-1][:2])

# Select and reorder the desired columns
df_medin = df_melted[['Year', 'State', 'Income']]

# Display the resulting DataFrame
df_medin

      Year State  Income
0     1984    AK   76043
1     1985    AK   79031
2     1986    AK   70021
3     1987    AK   71744
4     1988    AK   68972
...    ...   ...     ...
1795  2015    WY   65745
1796  2016    WY   61609
1797  2017    WY   62092
1798  2018    WY   63672
1799  2019    WY   65134

[1800 rows x 3 columns]

In [8]:
df_medin = df_medin[df_medin['Year'] >= 2000]
df_medin = df_medin[df_medin['Year'] <= 2019]

In [9]:
df_medin = df_medin.sort_values(by=['Year', 'State'])

In [10]:
df_medin

      Year State  Income
16    2000    AK   78675
52    2000    AL   52737
88    2000    AR   44211
124   2000    AZ   59226
160   2000    CA   69696
...    ...   ...     ...
1655  2019    VT   74305
1691  2019    WA   82454
1727  2019    WI   67355
1763  2019    WV   53706
1799  2019    WY   65134

[1000 rows x 3 columns]

In [12]:
if colab == 1:
    # Export to CSV (save to Google Drive)
    df_medin.to_csv('/content/drive/My Drive/capstone_data_cleaned/df_medin.csv', index=False)
elif colab == 0:
    df_medin.to_csv('capstone_data_cleaned/df_medin.csv', index=False)